.navbar{
    background-color: black;
    }
    .navbar ul{
      overflow: auto;
    }
    .navbar li {
      float: left;
      list-style: none;
      margin: 13px 3px;
    }
   .navbar li  a{
      padding:  3px 3px;
      text-decoration: none;
      color: white;
    }
    .h1{
        font-family: sans-serif;
    }
   .animated text span{
    position:relative;
   }
   .animated-text span::before{
content:"Hii i am a student ";
color:black;
   }
   .animated-text span::after
   {
    content:"";
    position: absolute;
    width: 10px;
    height: 100%;
    background-color: aqua;
    border-left: 2px solid red;
   }